
// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #449cb2 !default;
$calm:                            #42c9c7 !default;
$balanced:                        #2ecc71 !default;
$energized:                       #fcad26 !default;
$assertive:                       #f06160 !default;
$royal:                           #886aea !default;
$dark:                            #616161 !default;
$red:                             #e6365f !default;
$yellow:                          #fed149 !default;
