<div layout="column" ng-cloak layout-align="space-around center" layout-fill="">
  <md-content style="width: 50%;border: 1px solid green;">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Change password</span>
        </h2>
      </div>
    </md-toolbar>
    <form name="changePassword" style="padding: 40px;" ng-submit="auth()" novalidate >
      <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Email</label>
        <input ng-model="user.email" type="email" name="email" required>
        <div ng-messages="changePassword.email.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="email">Please input valid email</div>
        </div>
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Password</label>
        <input ng-model="user.password" type="password" name="password">
        <div ng-messages="changePassword.password.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Confirm password</label>
        <input ng-model="user.passwordConfirm" type="password" name="confirmPassword" required compare-to="user.password" >
        <div ng-messages="changePassword.confirmPassword.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="compareTo">password and confirm password must be the same</div>
        </div>
      </md-input-container>
      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ui-sref="admin.tracking-staff">back</md-button>
        <md-button class="md-raised md-primary"
                   type="submit"
                   ng-disabled="changePassword.$invalid">
          update
        </md-button>
      </div>
    </form>
  </md-content>
</div>